In [1]:
import pandas as pd
import plotly.express as px

In [2]:
fantasy_2019 = pd.read_csv('2019_player_fantasy.csv', delimiter=';', index_col=[0], header=[0, 1])

In [3]:
fantasy_2019['Unnamed: 1_level_0', 'Player'] = fantasy_2019['Unnamed: 1_level_0', 'Player'].apply(lambda x: x.split('\\')[0].split('*')[0].split('+')[0])

In [4]:
fantasy_2019 = fantasy_2019.droplevel(0, axis=1)
fantasy_2019['Player']

1      Christian McCaffrey
2            Lamar Jackson
3            Derrick Henry
4              Aaron Jones
5          Ezekiel Elliott
              ...
616        Ray-Ray McCloud
617       Darrius Shepherd
618        Jarrett Stidham
619         Michael Walker
620          Corey Clement
Name: Player, Length: 620, dtype: object

In [5]:
fantasy_2018 = pd.read_csv('2018_player_fantasy.csv', delimiter=';', index_col=[0], header=[0, 1])
fantasy_2018['Unnamed: 1_level_0', 'Player'] = fantasy_2018['Unnamed: 1_level_0', 'Player'].apply(lambda x: x.split('\\')[0].split('*')[0].split('+')[0])

In [6]:
fantasy_2018 = fantasy_2018.droplevel(0, axis=1)
fantasy_2018['Player']

1              Todd Gurley
2           Saquon Barkley
3      Christian McCaffrey
4             Alvin Kamara
5          Patrick Mahomes
              ...
618            Kaelin Clay
619               JJ Jones
620          Kyle Lauletta
621         Riley McCarron
622            Jojo Natson
Name: Player, Length: 622, dtype: object

# Change column names

In [7]:
fantasy_2019.head(2)

Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att,Yds,Y/A,TD,...,Yds,Y/R,TD,Fmb,FL,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
1,Christian McCaffrey,CAR,RB,23,16,16,0,2,0,0,0,287,1387,4.83,15,...,1005,8.66,4,1,0,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
2,Lamar Jackson,BAL,QB,22,15,15,265,401,3127,36,6,176,1206,6.85,7,...,0,NaN,0,9,2,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0

In [8]:
fantasy_2019.columns

Index(['Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds', 'TD',
       'Int', 'Att', 'Yds', 'Y/A', 'TD', 'Tgt', 'Rec', 'Yds', 'Y/R', 'TD',
       'Fmb', 'FL', 'TD', '2PM', '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD',
       'PosRank', 'OvRank'],
      dtype='object', name='Rk')

In [9]:
fantasy_2019.columns=['Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp_p', 'Att_p', 'Yds_p', 'TD_p',
       'Int_p', 'Att_r', 'Yds_r', 'Y/A_r', 'TD_r', 'Tgt_c', 'Rec_c', 'Yds_c', 'Y/R_c', 'TD_c',
       'Fmb_f', 'FL_f', 'TD_f', '2PM', '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD',
       'PosRank', 'OvRank']

In [10]:
fantasy_2018.columns = ['Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp_p', 'Att_p', 'Yds_p', 'TD_p',
       'Int_p', 'Att_r', 'Yds_r', 'Y/A_r', 'TD_r', 'Tgt_c', 'Rec_c', 'Yds_c', 'Y/R_c', 'TD_c',
       'Fmb_f', 'FL_f', 'TD_f', '2PM', '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD',
       'PosRank', 'OvRank']

In [11]:
fantasy = pd.merge(fantasy_2019, fantasy_2018, on=('Player'))

# Sum stats

In [12]:
fantasy.head(2)

,Player,Tm_x,FantPos_x,Age_x,G_x,GS_x,Cmp_p_x,Att_p_x,Yds_p_x,TD_p_x,Int_p_x,Att_r_x,Yds_r_x,Y/A_r_x,TD_r_x,...,Yds_c_y,Y/R_c_y,TD_c_y,Fmb_f_y,FL_f_y,TD_f_y,2PM_y,2PP_y,FantPt_y,PPR_y,DKPt_y,FDPt_y,VBD_y,PosRank_y,OvRank_y
0,Christian McCaffrey,CAR,RB,23,16,16,0,2,0,0,0,287,1387,4.83,15,...,867,8.1,6,4,1,13,NaN,NaN,279.0,385.5,392.5,332.0,143.0,3,3.0
1,Lamar Jackson,BAL,QB,22,15,15,265,401,3127,36,6,176,1206,6.85,7,...,0,NaN,0,12,4,5,NaN,NaN,158.0,157.5,170.5,160.5,NaN,29,NaN

In [13]:
fantasy.columns

Index(['Player', 'Tm_x', 'FantPos_x', 'Age_x', 'G_x', 'GS_x', 'Cmp_p_x',
       'Att_p_x', 'Yds_p_x', 'TD_p_x', 'Int_p_x', 'Att_r_x', 'Yds_r_x',
       'Y/A_r_x', 'TD_r_x', 'Tgt_c_x', 'Rec_c_x', 'Yds_c_x', 'Y/R_c_x',
       'TD_c_x', 'Fmb_f_x', 'FL_f_x', 'TD_f_x', '2PM_x', '2PP_x', 'FantPt_x',
       'PPR_x', 'DKPt_x', 'FDPt_x', 'VBD_x', 'PosRank_x', 'OvRank_x', 'Tm_y',
       'FantPos_y', 'Age_y', 'G_y', 'GS_y', 'Cmp_p_y', 'Att_p_y', 'Yds_p_y',
       'TD_p_y', 'Int_p_y', 'Att_r_y', 'Yds_r_y', 'Y/A_r_y', 'TD_r_y',
       'Tgt_c_y', 'Rec_c_y', 'Yds_c_y', 'Y/R_c_y', 'TD_c_y', 'Fmb_f_y',
       'FL_f_y', 'TD_f_y', '2PM_y', '2PP_y', 'FantPt_y', 'PPR_y', 'DKPt_y',
       'FDPt_y', 'VBD_y', 'PosRank_y', 'OvRank_y'],
      dtype='object')

In [14]:
cols = fantasy_2018.columns
cols = cols[4:]
cols

Index(['G', 'GS', 'Cmp_p', 'Att_p', 'Yds_p', 'TD_p', 'Int_p', 'Att_r', 'Yds_r',
       'Y/A_r', 'TD_r', 'Tgt_c', 'Rec_c', 'Yds_c', 'Y/R_c', 'TD_c', 'Fmb_f',
       'FL_f', 'TD_f', '2PM', '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD',
       'PosRank', 'OvRank'],
      dtype='object')

In [15]:
fantasy['Att_p_x']

0        2
1      401
2        0
3        0
4        0
      ...
441      2
442     21
443      0
444      0
445      0
Name: Att_p_x, Length: 446, dtype: int64

In [34]:
output = {}
for index, row in fantasy.iterrows():
    
    name = row['Player']
    team = row['Tm_x']
    pos = row['FantPos_x']
    age = row['Age_x']
    
    values = []

    for col in cols:
        values.append(row[col + '_x'] + row[col + '_y'])
    
    output[name] = {'team':team, 'position':pos, 'age':age, 'attributes':values}

In [35]:
players = pd.DataFrame(output).T

In [45]:
players.head(2)

,team,position,age,attributes
Christian McCaffrey,CAR,RB,23,"[32, 32, 1, 3, 50, 1, 0, 506, 2485, 9.84, 22, ..."
Lamar Jackson,BAL,QB,22,"[31, 22, 364, 571, 4328, 42, 9, 323, 1901, 11...."

In [50]:
players.iloc[0].name

'Christian McCaffrey'

In [42]:
cols = fantasy_2018.columns

In [86]:
player = {}

for index, row in players.iterrows():
    
    values = []

    values.append(row['team'])
    values.append(row['position'])
    values.append(row['age'])
    
    for i in row['attributes']:
        values.append(i)
        
    player[row.name] = values

In [90]:
final = pd.DataFrame(player).T
final.columns = cols[1:]

In [92]:
final.to_csv('players_two_seasons.csv')