In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [66]:
url = 'https://www.pro-football-reference.com/years/2019/fantasy.htm'
page = requests.get(url)

In [69]:
soup = BeautifulSoup(page.content, 'html.parser')

tbl = soup.find("table",{"id":"fantasy"})

players_2019 = pd.read_html(str(tbl))[0]

In [82]:
selRows = players_2019[players_2019['Unnamed: 0_level_0', 'Rk'] == 'Rk'].index
players_2019 = players_2019.drop(selRows, axis=0)

In [83]:
players_2019[27:35]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk             Player                 Tm
27                 28     DeVante Parker                MIA
28                 29  Leonard Fournette                JAX
30                 30     Jameis Winston                TAM
31                 31     Austin Hooper*                ATL
32                 32      Amari Cooper*                DAL
33                 33        Mike Evans*                TAM
34                 34         A.J. Brown                TEN
35                 35  DeAndre Hopkins*+                HOU

   Unnamed: 3_level_0 Unnamed: 4_level_0 Games     Passing                     \
              FantPos                Age     G  GS     Cmp  Att   Yds  TD Int
27                 WR                 26    16  14       0    0     0   0   0
28                 RB                 24    15  15       0    0     0   0   0
30                 QB                 25    16  16     380  626  5109  33  30
31                 TE                 25    13  10       0    0     0   0   0
32                 WR                 25    16  16       0    0     0   0   0
33                 WR                 26    13  13       0    0     0   0   0
34                 WR                 22    16  11       0    0     0   0   0
35                 WR                 27    15  15       1    2     6   1   1

   Rushing               ... Receiving           Fumbles    Scoring            \
       Att   Yds    Y/A  ...       Yds    Y/R TD     Fmb FL      TD  2PM  2PP
27       0     0    NaN  ...      1202  16.69  9       0  0       9  NaN  NaN
28     265  1152   4.35  ...       522   6.87  0       1  1       3  NaN  NaN
30      59   250   4.24  ...         0    NaN  0      12  5       1    2    2
31       0     0    NaN  ...       787  10.49  6       0  0       6    1  NaN
32       1     6   6.00  ...      1189  15.05  8       0  0       8  NaN  NaN
33       0     0    NaN  ...      1157  17.27  8       0  0       8    1  NaN
34       3    60  20.00  ...      1051  20.21  8       1  0       9  NaN  NaN
35       2    18   9.00  ...      1165  11.20  7       0  0       7    1  NaN

   Fantasy
    FantPt    PPR   DKPt   FDPt VBD PosRank OvRank
27     174  246.2  249.2  210.2  45       6     28
28     183  259.4  266.4  221.4  43      13     29
30     305  305.4  346.4  335.4  42       5     30
31     117  191.7  194.7  154.2  40       7     31
32     168  246.5  249.5  207.0  38       7     32
33     166  232.7  235.7  199.2  37       8     33
34     165  217.1  220.1  191.1  36       9     34
35     165  268.5  272.5  217.5  35      10     35

[8 rows x 33 columns]

In [84]:
players_2019.to_csv('players_2019')

# 2018

In [85]:
url = 'https://www.pro-football-reference.com/years/2018/fantasy.htm'
page = requests.get(url)

In [87]:
soup = BeautifulSoup(page.content, 'html.parser')

tbl = soup.find("table",{"id":"fantasy"})

players_2018 = pd.read_html(str(tbl))[0]

In [88]:
selRows = players_2018[players_2018['Unnamed: 0_level_0', 'Rk'] == 'Rk'].index
players_2018 = players_2018.drop(selRows, axis=0)

In [89]:
players_2018[27:35]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk             Player                 Tm
27                 28        James White                NWE
28                 29   Phillip Lindsay*                DEN
30                 30      Derrick Henry                TEN
31                 31    Deshaun Watson*                HOU
32                 32      Tyler Lockett                SEA
33                 33       Stefon Diggs                MIN
34                 34      Brandin Cooks                LAR
35                 35      Keenan Allen*                LAC

   Unnamed: 3_level_0 Unnamed: 4_level_0 Games     Passing                     \
              FantPos                Age     G  GS     Cmp  Att   Yds  TD Int
27                 RB                 26    16   3       0    0     0   0   0
28                 RB                 24    15   8       0    0     0   0   0
30                 RB                 24    16  12       2    3    14   0   0
31                 QB                 23    16  16     345  505  4165  26   9
32                 WR                 26    16  14       0    0     0   0   0
33                 WR                 25    15  14       0    0     0   0   0
34                 WR                 25    16  16       0    0     0   0   0
35                 WR                 26    16  14       0    0     0   0   0

   Rushing              ... Receiving            Fumbles    Scoring            \
       Att   Yds   Y/A  ...       Yds    Y/R  TD     Fmb FL      TD  2PM  2PP
27      94   425  4.52  ...       751   8.63   7       0  0      12  NaN  NaN
28     192  1037  5.40  ...       241   6.89   1       0  0      10  NaN  NaN
30     215  1059  4.93  ...        99   6.60   0       1  1      12  NaN  NaN
31      99   551  5.57  ...         0    NaN   0       9  3       5  NaN  NaN
32      13    69  5.31  ...       965  16.93  10       2  0      10    1  NaN
33      10    62  6.20  ...      1021  10.01   9       0  0       9    1  NaN
34      10    68  6.80  ...      1204  15.05   5       1  0       6  NaN  NaN
35       9    75  8.33  ...      1196  12.33   6       3  1       6    1  NaN

   Fantasy
    FantPt    PPR   DKPt   FDPt VBD PosRank OvRank
27     190  276.6  282.6  233.1  54      11     28
28     188  222.8  228.8  205.3  52      12     29
30     186  201.4  205.4  193.9  51      13     30
31     332  331.7  349.7  340.7  49       4     31
32     165  222.4  225.4  193.9  49      11     32
33     164  266.3  269.3  215.3  48      12     33
34     163  243.2  246.2  203.2  47      13     34
35     163  260.1  264.1  211.6  47      14     35

[8 rows x 33 columns]

In [90]:
players_2018.to_csv('players_2018')

# Defense

## 2019

In [92]:
url = 'https://www.pro-football-reference.com/years/2019/opp.htm'
page = requests.get(url)

In [93]:
soup = BeautifulSoup(page.content, 'html.parser')

tbl = soup.find("table",{"id":"team_stats"})

team_2019 = pd.read_html(str(tbl))[0]

In [95]:
team_2019[24:28]

   Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                   Tm                  G
24               25.0   Cincinnati Bengals               16.0
25               26.0        Detroit Lions               16.0
26               27.0  Washington Redskins               16.0
27               28.0    Arizona Cardinals               16.0

   Unnamed: 3_level_0 Unnamed: 4_level_0 Tot Yds & TO             \
                   PF                Yds          Ply  Y/P    TO
24              420.0             6299.0       1034.0  6.1  16.0
25              423.0             6406.0       1094.0  5.9  18.0
26              435.0             6162.0       1079.0  5.7  22.0
27              442.0             6432.0       1080.0  6.0  17.0

   Unnamed: 8_level_0 Unnamed: 9_level_0 Passing                             \
                   FL               1stD     Cmp    Att     Yds    TD   Int
24                5.0              328.0   308.0  499.0  3917.0  25.0  11.0
25               11.0              365.0   381.0  611.0  4551.0  33.0   7.0
26                9.0              354.0   371.0  540.0  3823.0  35.0  13.0
27               10.0              375.0   421.0  601.0  4510.0  38.0   7.0

               Rushing                           Penalties                \
   NY/A   1stD     Att     Yds    TD  Y/A   1stD       Pen     Yds 1stPy
24  7.4  183.0   504.0  2382.0  17.0  4.7  124.0     122.0   988.0  21.0
25  7.1  232.0   455.0  1855.0  13.0  4.1   94.0     117.0   960.0  39.0
26  6.5  200.0   493.0  2339.0  14.0  4.7  120.0      94.0   805.0  34.0
27  7.0  243.0   439.0  1922.0   9.0  4.4   94.0     114.0  1041.0  38.0

   Unnamed: 25_level_0 Unnamed: 26_level_0 Unnamed: 27_level_0
                   Sc%                 TO%                 EXP
24                39.8                 8.8             -132.66
25                40.1                 9.0             -142.55
26                41.9                12.2             -135.83
27                42.6                 9.5             -174.55

In [96]:
team_2019.to_csv('team_defense_2019')

## 2018

In [97]:
url = 'https://www.pro-football-reference.com/years/2018/opp.htm'
page = requests.get(url)

In [98]:
soup = BeautifulSoup(page.content, 'html.parser')

tbl = soup.find("table",{"id":"team_stats"})

team_2018 = pd.read_html(str(tbl))[0]

In [99]:
team_2018[24:28]

   Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                   Tm                  G
24               25.0      Atlanta Falcons               16.0
25               26.0    Arizona Cardinals               16.0
26               27.0       Miami Dolphins               16.0
27               28.0  San Francisco 49ers               16.0

   Unnamed: 3_level_0 Unnamed: 4_level_0 Tot Yds & TO             \
                   PF                Yds          Ply  Y/P    TO
24              423.0             6152.0       1031.0  6.0  19.0
25              425.0             5741.0       1065.0  5.4  16.0
26              433.0             6257.0       1024.0  6.1  28.0
27              435.0             5546.0       1023.0  5.4   7.0

   Unnamed: 8_level_0 Unnamed: 9_level_0 Passing                             \
                   FL               1stD     Cmp    Att     Yds    TD   Int
24                4.0              375.0   398.0  585.0  4153.0  33.0  15.0
25                9.0              357.0   342.0  506.0  3262.0  21.0   7.0
26                7.0              350.0   335.0  508.0  3932.0  31.0  21.0
27                5.0              337.0   344.0  542.0  3732.0  35.0   2.0

               Rushing                           Penalties                \
   NY/A   1stD     Att     Yds    TD  Y/A   1stD       Pen     Yds 1stPy
24  6.7  226.0   409.0  1999.0  16.0  4.9  115.0     108.0  1001.0  34.0
25  5.9  186.0   510.0  2479.0  25.0  4.9  139.0     100.0   790.0  32.0
26  7.3  195.0   485.0  2325.0  17.0  4.8  116.0     107.0   856.0  39.0
27  6.4  195.0   444.0  1814.0  13.0  4.1  104.0     117.0  1011.0  38.0

   Unnamed: 25_level_0 Unnamed: 26_level_0 Unnamed: 27_level_0
                   Sc%                 TO%                 EXP
24                41.5                10.5             -159.71
25                38.0                 8.6              -85.72
26                39.9                14.2             -124.79
27                39.8                 3.9             -126.92

In [100]:
team_2018.to_csv('team_defense_2018')

# Offense

## 2019

In [120]:
url = 'https://www.pro-football-reference.com/years/2019/'
page = requests.get(url)

In [121]:
soup = BeautifulSoup(page.content, 'html.parser')

tbl = soup.find("table",{"id":"team_stats"})

off_2019 = pd.read_html(str(tbl))[0]

ValueError: No tables found

In [99]:
team_2018[24:28]

   Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                   Tm                  G
24               25.0      Atlanta Falcons               16.0
25               26.0    Arizona Cardinals               16.0
26               27.0       Miami Dolphins               16.0
27               28.0  San Francisco 49ers               16.0

   Unnamed: 3_level_0 Unnamed: 4_level_0 Tot Yds & TO             \
                   PF                Yds          Ply  Y/P    TO
24              423.0             6152.0       1031.0  6.0  19.0
25              425.0             5741.0       1065.0  5.4  16.0
26              433.0             6257.0       1024.0  6.1  28.0
27              435.0             5546.0       1023.0  5.4   7.0

   Unnamed: 8_level_0 Unnamed: 9_level_0 Passing                             \
                   FL               1stD     Cmp    Att     Yds    TD   Int
24                4.0              375.0   398.0  585.0  4153.0  33.0  15.0
25                9.0              357.0   342.0  506.0  3262.0  21.0   7.0
26                7.0              350.0   335.0  508.0  3932.0  31.0  21.0
27                5.0              337.0   344.0  542.0  3732.0  35.0   2.0

               Rushing                           Penalties                \
   NY/A   1stD     Att     Yds    TD  Y/A   1stD       Pen     Yds 1stPy
24  6.7  226.0   409.0  1999.0  16.0  4.9  115.0     108.0  1001.0  34.0
25  5.9  186.0   510.0  2479.0  25.0  4.9  139.0     100.0   790.0  32.0
26  7.3  195.0   485.0  2325.0  17.0  4.8  116.0     107.0   856.0  39.0
27  6.4  195.0   444.0  1814.0  13.0  4.1  104.0     117.0  1011.0  38.0

   Unnamed: 25_level_0 Unnamed: 26_level_0 Unnamed: 27_level_0
                   Sc%                 TO%                 EXP
24                41.5                10.5             -159.71
25                38.0                 8.6              -85.72
26                39.9                14.2             -124.79
27                39.8                 3.9             -126.92

In [100]:
team_2018.to_csv('team_defense_2018')