In [1]:
import pandas as pd
import plotly.express as px

In [40]:
fantasy_2019 = pd.read_csv('2019_player_fantasy.csv', delimiter=';', index_col=[0], header=[0, 1])

In [41]:
fantasy_2019['Unnamed: 1_level_0', 'Player'] = fantasy_2019['Unnamed: 1_level_0', 'Player'].apply(lambda x: x.split('\\')[0].split('*')[0].split('+')[0])

In [42]:
fantasy_2019 = fantasy_2019.droplevel(0, axis=1)
fantasy_2019['Player']

1      Christian McCaffrey
2            Lamar Jackson
3            Derrick Henry
4              Aaron Jones
5          Ezekiel Elliott
              ...
616        Ray-Ray McCloud
617       Darrius Shepherd
618        Jarrett Stidham
619         Michael Walker
620          Corey Clement
Name: Player, Length: 620, dtype: object

In [43]:
fantasy_2018 = pd.read_csv('2018_player_fantasy.csv', delimiter=';', index_col=[0], header=[0, 1])
fantasy_2018['Unnamed: 1_level_0', 'Player'] = fantasy_2018['Unnamed: 1_level_0', 'Player'].apply(lambda x: x.split('\\')[0].split('*')[0].split('+')[0])

In [44]:
fantasy_2018 = fantasy_2018.droplevel(0, axis=1)
fantasy_2018['Player']

1              Todd Gurley
2           Saquon Barkley
3      Christian McCaffrey
4             Alvin Kamara
5          Patrick Mahomes
              ...
618            Kaelin Clay
619               JJ Jones
620          Kyle Lauletta
621         Riley McCarron
622            Jojo Natson
Name: Player, Length: 622, dtype: object

In [77]:
pd.merge(fantasy_2019, fantasy_2018, on=('Player')).sum(axis=1)

0       9085.20
1      10212.18
2       5903.55
3       5304.75
4       7508.27
         ...
441     4724.99
442      386.38
443     1269.82
444      573.70
445     1166.84
Length: 446, dtype: float64

In [ ]:
pd.merge(df1, df2, on=['id', 'name']).set_index(['id', 'name']).sum(axis=1)

In [72]:
cols = fantasy_full.columns

In [73]:
cols

Index(['Player', 'Tm_x', 'FantPos_x', 'Age_x', 'G_x', 'GS_x', 'Cmp_x', 'Att_x',
       'Yds_x', 'TD_x', 'Int_x', 'Att_x', 'Yds_x', 'Y/A_x', 'TD_x', 'Tgt_x',
       'Rec_x', 'Yds_x', 'Y/R_x', 'TD_x', 'Fmb_x', 'FL_x', 'TD_x', '2PM_x',
       '2PP_x', 'FantPt_x', 'PPR_x', 'DKPt_x', 'FDPt_x', 'VBD_x', 'PosRank_x',
       'OvRank_x', 'Tm_y', 'FantPos_y', 'Age_y', 'G_y', 'GS_y', 'Cmp_y',
       'Att_y', 'Yds_y', 'TD_y', 'Int_y', 'Att_y', 'Yds_y', 'Y/A_y', 'TD_y',
       'Tgt_y', 'Rec_y', 'Yds_y', 'Y/R_y', 'TD_y', 'Fmb_y', 'FL_y', 'TD_y',
       '2PM_y', '2PP_y', 'FantPt_y', 'PPR_y', 'DKPt_y', 'FDPt_y', 'VBD_y',
       'PosRank_y', 'OvRank_y'],
      dtype='object', name='Rk')

In [64]:
cols = cols[4:]
cols[0]

'Yds'

In [68]:
fantasy_full.head(2)

Rk,Player,Tm_x,FantPos_x,Age_x,G_x,GS_x,Cmp_x,Att_x,Yds_x,TD_x,Int_x,Att_x,Yds_x,Y/A_x,TD_x,...,Yds_y,Y/R_y,TD_y,Fmb_y,FL_y,TD_y,2PM_y,2PP_y,FantPt_y,PPR_y,DKPt_y,FDPt_y,VBD_y,PosRank_y,OvRank_y
0,Christian McCaffrey,CAR,RB,23,16,16,0,2,0,0,0,287,1387,4.83,15,...,867.0,8.1,6.0,4.0,1.0,13.0,NaN,NaN,279.0,385.5,392.5,332.0,143.0,3.0,3.0
1,Lamar Jackson,BAL,QB,22,15,15,265,401,3127,36,6,176,1206,6.85,7,...,0.0,NaN,0.0,12.0,4.0,5.0,NaN,NaN,158.0,157.5,170.5,160.5,NaN,29.0,NaN

In [70]:
fantasy = pd.DataFrame()

suf_x = '_x'
suf_y = '_y'

for col in cols:
    fantasy[col] = fantasy_full.apply(lambda row: row[col + suf_x] * row[col + suf_y], axis=1)
    break

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [71]:
col + suf_x

'Yds_x'