In [79]:
import pandas as pd
import plotly.express as px

In [97]:
df = pd.read_csv('dax.csv', delimiter=';')
# df.head()

In [98]:
df.columns

Index(['WKN', 'Wert', 'Branche', 'Land', 'Unnamed: 4', 'Aktueller Kurs',
       'Gewinn pro Aktie (€)', 'KGV', 'Dividendenrendite (%)',
       'Marktkapitalisierung (Mio. €)', 'EBITDA (Mio. €)',
       'Ergebnis nach Steuern (Mio. €)', 'Barreserve (Mio. €)',
       'Verbindlichkeiten (Mio. €)', 'Rückstellungen (Mio. €)',
       'Zinsaufwand (Mio. €)', 'Verschuldungsgrad'],
      dtype='object')

In [99]:
df.columns = [
    'WKN', 'Wert', 'Branche', 'Land', 'Land_1', 'Aktueller_Kurs',
    'GewinnProAktie', 'KGV','Dividendenrendite',
    'Marktkapitalisierung', 'EBITDA',
    'Ergebnis nach Steuern', 'Barreserve',
    'Verbindlichkeiten', 'Rückstellungen',
    'Zinsaufwand', 'Verschuldungsgrad'
]

In [100]:
df.drop('Land_1', axis=1, inplace=True)

In [101]:
df = df.apply(lambda x: x.str.replace('.',''))

In [102]:
df = df.apply(lambda x: x.str.replace(',','.'))

In [103]:
df

,WKN,Wert,Branche,Land,Aktueller_Kurs,GewinnProAktie,KGV,Dividendenrendite,Marktkapitalisierung,EBITDA,Ergebnis nach Steuern,Barreserve,Verbindlichkeiten,Rückstellungen,Zinsaufwand,Verschuldungsgrad
0,747206,Wirecard,Internetkommerz,Deutschland,92.13 EUR,4.20,25.54,0.23,13283.30,0.00,0.00,0.00,0.00,0.00,0.00,NaN
1,823212,Lufthansa,Fluggesellschaften,Deutschland,10.47 EUR,2.55,6.43,0.00,7847.16,4913.00,1245.00,1415.00,32512.00,7943.00,394.00,315.94
2,BASF11,BASF,Chemie,Deutschland,51.12 EUR,9.17,7.34,4.89,61859.56,7985.00,8491.00,2427.00,44600.00,11961.00,648.00,101.25
3,710000,Daimler,Automobilproduktion,Deutschland,36.02 EUR,2.22,22.23,1.82,52817.85,12064.00,2709.00,18883.00,241094.00,30652.00,880.00,381.27
4,840400,Allianz,Versicherungen,Deutschland,178.08 EUR,18.90,11.55,4.39,91110.58,13145.00,8302.00,21075.00,933820.00,25468.00,1110.00,1207.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,578580,Fresenius Medical Care,Medizinische Geräte,Deutschland,74.24 EUR,3.96,16.65,1.81,19677.78,3862.80,1438.50,1007.70,20976.80,689.20,491.10,148.99
26,659990,Merck,Pharma,Deutschland,101.30 EUR,3.04,34.65,1.23,13615.64,3679.00,1296.00,781.00,25898.00,4380.00,0.00,144.57
27,604843,Henkel,Chemie,Deutschland,81.80 EUR,4.79,19.24,2.00,38249.49,3643.00,2103.00,1462.00,12792.00,2576.00,88.00,67.93
28,581005,Deutsche Börse,Finanzdienstleistung,Deutschland,149.45 EUR,5.47,25.62,2.06,26628.50,1678.30,1035.40,888.10,131054.70,669.40,64.40,2144.71
29,520000,Beiersdorf,Drogerie und Kosmeti,Deutschland,98.24 EUR,3.17,33.64,0.65,26875.80,1252.00,736.00,1142.00,3972.00,1478.00,13.00,64.46

In [104]:
df.Aktueller_Kurs = df.Aktueller_Kurs.apply(lambda x: float(x.split(' ')[0]))

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
WKN                      30 non-null object
Wert                     30 non-null object
Branche                  30 non-null object
Land                     30 non-null object
Aktueller_Kurs           30 non-null float64
GewinnProAktie           30 non-null object
KGV                      28 non-null object
Dividendenrendite        30 non-null object
Marktkapitalisierung     30 non-null object
EBITDA                   30 non-null object
Ergebnis nach Steuern    30 non-null object
Barreserve               30 non-null object
Verbindlichkeiten        30 non-null object
Rückstellungen           30 non-null object
Zinsaufwand              30 non-null object
Verschuldungsgrad        29 non-null object
dtypes: float64(1), object(15)
memory usage: 3.9+ KB

In [107]:
numeric_columns = [
    'Aktueller_Kurs',
    'GewinnProAktie', 'KGV','Dividendenrendite',
    'Marktkapitalisierung', 'EBITDA',
    'Ergebnis nach Steuern', 'Barreserve',
    'Verbindlichkeiten', 'Rückstellungen',
    'Zinsaufwand', 'Verschuldungsgrad'
]

In [108]:
for col in numeric_columns:
    df[col] = df[col].astype(float)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
WKN                      30 non-null object
Wert                     30 non-null object
Branche                  30 non-null object
Land                     30 non-null object
Aktueller_Kurs           30 non-null float64
GewinnProAktie           30 non-null float64
KGV                      28 non-null float64
Dividendenrendite        30 non-null float64
Marktkapitalisierung     30 non-null float64
EBITDA                   30 non-null float64
Ergebnis nach Steuern    30 non-null float64
Barreserve               30 non-null float64
Verbindlichkeiten        30 non-null float64
Rückstellungen           30 non-null float64
Zinsaufwand              30 non-null float64
Verschuldungsgrad        29 non-null float64
dtypes: float64(12), object(4)
memory usage: 3.9+ KB

In [151]:
peer = pd.read_csv('peer_group_lufthansa.csv', delimiter=';')

In [152]:
peer.columns = [
    'WKN', 'Wert', 'Branche', 'Land', 'Land_1', 'Aktueller_Kurs',
    'GewinnProAktie', 'KGV','Dividendenrendite',
    'Marktkapitalisierung', 'EBITDA',
    'Ergebnis nach Steuern', 'Barreserve',
    'Verbindlichkeiten', 'Rückstellungen',
    'Zinsaufwand', 'Verschuldungsgrad'
]

In [153]:
peer.drop('Land_1', axis=1, inplace=True)

In [154]:
peer = peer.apply(lambda x: x.str.replace('.',''))

In [155]:
peer = peer.apply(lambda x: x.str.replace(',','.'))

In [158]:
peer.Aktueller_Kurs = peer.Aktueller_Kurs.apply(lambda x: float(x.split(' ')[0]))

In [159]:
peer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 21
Data columns (total 16 columns):
WKN                      21 non-null object
Wert                     22 non-null object
Branche                  22 non-null object
Land                     22 non-null object
Aktueller_Kurs           22 non-null float64
GewinnProAktie           20 non-null object
KGV                      22 non-null object
Dividendenrendite        21 non-null object
Marktkapitalisierung     22 non-null object
EBITDA                   22 non-null object
Ergebnis nach Steuern    22 non-null object
Barreserve               22 non-null object
Verbindlichkeiten        22 non-null object
Rückstellungen           22 non-null object
Zinsaufwand              22 non-null object
Verschuldungsgrad        6 non-null object
dtypes: float64(1), object(15)
memory usage: 2.9+ KB

In [160]:
numeric_columns = [
    'Aktueller_Kurs',
    'GewinnProAktie', 'KGV','Dividendenrendite',
    'Marktkapitalisierung', 'EBITDA',
    'Ergebnis nach Steuern', 'Barreserve',
    'Verbindlichkeiten', 'Rückstellungen',
    'Zinsaufwand', 'Verschuldungsgrad'
]

In [161]:
for col in numeric_columns:
    peer[col] = peer[col].astype(float)

In [162]:
peer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 21
Data columns (total 16 columns):
WKN                      21 non-null object
Wert                     22 non-null object
Branche                  22 non-null object
Land                     22 non-null object
Aktueller_Kurs           22 non-null float64
GewinnProAktie           20 non-null float64
KGV                      22 non-null float64
Dividendenrendite        21 non-null float64
Marktkapitalisierung     22 non-null float64
EBITDA                   22 non-null float64
Ergebnis nach Steuern    22 non-null float64
Barreserve               22 non-null float64
Verbindlichkeiten        22 non-null float64
Rückstellungen           22 non-null float64
Zinsaufwand              22 non-null float64
Verschuldungsgrad        6 non-null float64
dtypes: float64(12), object(4)
memory usage: 2.9+ KB

# Kennzahlen

In [122]:
peer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 16 columns):
WKN                      21 non-null object
Wert                     22 non-null object
Branche                  22 non-null object
Land                     22 non-null object
Aktueller_Kurs           22 non-null float64
GewinnProAktie           20 non-null float64
KGV                      22 non-null float64
Dividendenrendite        21 non-null float64
Marktkapitalisierung     22 non-null float64
EBITDA                   22 non-null float64
Ergebnis nach Steuern    22 non-null float64
Barreserve               22 non-null float64
Verbindlichkeiten        22 non-null float64
Rückstellungen           22 non-null float64
Zinsaufwand              22 non-null float64
Verschuldungsgrad        6 non-null float64
dtypes: float64(12), object(4)
memory usage: 2.9+ KB

In [124]:
durchschnitt_kgv = peer.KGV.mean()
durchschnitt_kgv

18.202272727272728

In [128]:
lh_kgv = df[df['Wert'] == 'Lufthansa']['KGV']

In [130]:
impliziert_lh =  df[df['Wert'] == 'Lufthansa']['GewinnProAktie'] / durchschnitt_kgv

In [132]:
df[df['Wert'] == 'Lufthansa']['GewinnProAktie']

1    2.55
Name: GewinnProAktie, dtype: float64

In [131]:
impliziert_lh

1    0.140092
Name: GewinnProAktie, dtype: float64

In [134]:
markt_kap_lh = df[df['Wert'] == 'Lufthansa']['Marktkapitalisierung']

In [141]:
verbindlichkeiten_lh = df[df['Wert'] == 'Lufthansa']['Verbindlichkeiten']
rückstellungen_lh = df[df['Wert'] == 'Lufthansa']['Rückstellungen']
barreserven_lh = df[df['Wert'] == 'Lufthansa']['Barreserve']
ebita_lh = df[df['Wert'] == 'Lufthansa']['EBITDA']

In [142]:
unternehmenswert = markt_kap_lh + verbindlichkeiten_lh - barreserven_lh

In [143]:
unternehmenswert / ebita_lh

1    7.926758
dtype: float64

In [163]:
def economic_value(unternehmen):
    markt_kap = peer[peer['Wert'] == unternehmen]['Marktkapitalisierung']
    verbindlichkeiten = peer[peer['Wert'] == unternehmen]['Verbindlichkeiten']
    rückstellungen = peer[peer['Wert'] == unternehmen]['Rückstellungen']
    barreserven = peer[peer['Wert'] == unternehmen]['Barreserve']
    ebita = peer[peer['Wert'] == unternehmen]['EBITDA']
    
    unternehmenswert = markt_kap + verbindlichkeiten - barreserven
    print('Unternehmen: {}  --  Wert: {}'.format(unternehmen, unternehmenswert / ebita))

In [164]:
peer.columns

Index(['WKN', 'Wert', 'Branche', 'Land', 'Aktueller_Kurs', 'GewinnProAktie',
       'KGV', 'Dividendenrendite', 'Marktkapitalisierung', 'EBITDA',
       'Ergebnis nach Steuern', 'Barreserve', 'Verbindlichkeiten',
       'Rückstellungen', 'Zinsaufwand', 'Verschuldungsgrad'],
      dtype='object')

In [165]:
companys = peer.Wert.unique()

In [168]:
peer = peer[(peer.Marktkapitalisierung != 0.00) & (peer.EBITDA != 0.00) & (peer.Barreserve)]

In [169]:
for com in companys:
    economic_value(com)

Unternehmen: Lufthansa  --  Wert: 0    7.926758
dtype: float64
Unternehmen: AMERICAN AIRLINES GR  --  Wert: 1    14.487261
dtype: float64
Unternehmen: UNITED AIRLINES HOLD  --  Wert: Series([], dtype: float64)
Unternehmen: DELTA AIR LINES INC  --  Wert: Series([], dtype: float64)
Unternehmen: AIR CANADA INC  --  Wert: Series([], dtype: float64)
Unternehmen: Easyjet  --  Wert: 5    21.267916
dtype: float64
Unternehmen: SOUTHWEST AIRLINES C  --  Wert: Series([], dtype: float64)
Unternehmen: INTERNATIONAL CONSOL  --  Wert: 7    7.237143
dtype: float64
Unternehmen: RYANAIR HOLDINGS  --  Wert: Series([], dtype: float64)
Unternehmen: QANTAS AIRWAYS LTD  --  Wert: Series([], dtype: float64)
Unternehmen: ALASKA AIR GROUP INC  --  Wert: Series([], dtype: float64)
Unternehmen: CATHAY PACIFIC AIRWA  --  Wert: Series([], dtype: float64)
Unternehmen: AÉROPORTS DE PARIS  --  Wert: Series([], dtype: float64)
Unternehmen: JAPAN AIRLINES CORP  --  Wert: Series([], dtype: float64)
Unternehmen: INTERNAT CONS AIRL  --  Wert: 14    7.237143
dtype: float64
Unternehmen: SPIRIT AEROSYSTEMS H  --  Wert: Series([], dtype: float64)
Unternehmen: Qantas  --  Wert: Series([], dtype: float64)
Unternehmen: EASYJET PLC REGSHS  --  Wert: 17    21.267916
dtype: float64
Unternehmen: AEROPORTS DE PARIS U  --  Wert: Series([], dtype: float64)
Unternehmen: ANA HOLDINGS INC  --  Wert: Series([], dtype: float64)
Unternehmen: AUCKLAND INTL AIRPOR  --  Wert: Series([], dtype: float64)
Unternehmen: JAPAN AIRLINES CO L  --  Wert: Series([], dtype: float64)

In [221]:
def crawl_stock(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,"html.parser")

    tables = soup.findAll("table")

    stock = tables[14]
    if stock.findParent("table") is None:
        t = pd.read_html(str(stock))
        return t

In [222]:
df = crawl_stock("https://www.finanzen.net/aktien/adidas-aktie")

In [223]:
df[0]

                                  0     1                      2      3
0  Marktkapitalisierung in Mrd. EUR  4614  Anzahl Aktien in Mio.  20042
1                     Streubesitz %  8964           Gewinn/Aktie    970
2                               KBV   843         Buchwert/Aktie   3440
3                               KCV  2141         Cashflow/Aktie   1355
4                               KGV  2991         Emissionspreis      -
5                      30 Tage Vola  4717           90 Tage Vola   5502
6                     180 Tage Vola  5181          250 Tage Vola   4008

In [220]:
import requests
from bs4 import BeautifulSoup



url = "https://www.finanzen.net/aktien/adidas-aktie"
page = requests.get(url)
soup = BeautifulSoup(page.text,"html.parser")

tables = soup.findAll("table")

for table in tables:
     if table.findParent("table") is None:
        pd.read_html(str(table))
        cool = tables[14]
        if cool.findParent("table") is None:
            t = pd.read_html(str(cool))
            type(t)

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

list

In [206]:
cool = tables[14]
if cool.findParent("table") is None:
    t = pd.read_html(str(cool))
    type(t)

list

In [207]:
t[0]

                                  0     1                      2      3
0  Marktkapitalisierung in Mrd. EUR  4614  Anzahl Aktien in Mio.  20042
1                     Streubesitz %  8964           Gewinn/Aktie    970
2                               KBV   843         Buchwert/Aktie   3440
3                               KCV  2141         Cashflow/Aktie   1355
4                               KGV  2991         Emissionspreis      -
5                      30 Tage Vola  4717           90 Tage Vola   5502
6                     180 Tage Vola  5181          250 Tage Vola   4008

In [178]:
soup.findAll("table", class_="box table-quotes")

[]