# SVM-Template

*This Notebook gives an example on how to use SVM with `python` and `jupyter notebook`.
Moreover it can be used as template for further ML tasks.*

## Preprocessing

For having a generalized layout, the used data needs to always be stored within the `./data/` folder. Following code checks which data is present and can be used.

In [1]:
from subprocess import check_output
print(check_output(["ls", "./input"]).decode("utf8"))

gender_submission.csv
test.csv
train.csv

## Import all libraries

In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.svm import SVC
from sklearn import metrics

import matplotlib.pyplot as plt
from helper import plot_classifier

%matplotlib inline

## Import the Data and inspect the Data

In [81]:
train = pd.read_csv('./input/train.csv')
test = pd.read_csv('./input/test.csv')
frames = [train, test]
dat = pd.concat(frames)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [82]:
dat.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [83]:
corr = dat.corr()
corr.style.background_gradient(cmap='coolwarm')

Noe we search for zero values within the data.

In [84]:
dat.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [85]:
dat.count()

Age            1046
Cabin           295
Embarked       1307
Fare           1308
Name           1309
Parch          1309
PassengerId    1309
Pclass         1309
Sex            1309
SibSp          1309
Survived        891
Ticket         1309
dtype: int64

In [86]:
dat = dat.dropna(subset = ['Survived'])

In [87]:
dat.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

Now we have a dataframe which only contains values that can be classified. This means the `survived` column is not empty!

Now we can start to process the data.

In [88]:
dat.count()

Age            714
Cabin          204
Embarked       889
Fare           891
Name           891
Parch          891
PassengerId    891
Pclass         891
Sex            891
SibSp          891
Survived       891
Ticket         891
dtype: int64

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [71]:
svc=SVC() #Default hyperparameters
svc.fit(X_train,y_train)
y_pred=svc.predict(X_test)
print('Accuracy Score:')
print(metrics.accuracy_score(y_test,y_pred))

ValueError: could not convert string to float: 'S'