In [1]:
import seaborn as sns
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

# Total Offense Crawl

In [2]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/total/table/passing/sort/netTotalYards/dir/desc'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [3]:
# stat_table =soup.find_all('table', class_ = "Table2__table-scroller Table2__right-aligned Table2__table")
stat_table =soup.find_all('table', class_ = "Table Table--align-right")
len(stat_table)

#name_table = soup.find_all('table', class_="Table2__right-aligned Table2__table-fixed Table2__Table--fixed--left Table2__table")
name_table = soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [4]:
#name_table

In [5]:
#soup

In [6]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
team_names

# Need to remove some columns
stat_headers = stat_headers[5:]
stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[2:]
team_stats

['Dallas Cowboys',
 'Baltimore Ravens',
 'Tampa Bay Buccaneers',
 'Seattle Seahawks',
 'Kansas City Chiefs',
 'San Francisco 49ers',
 'Houston Texans',
 'Los Angeles Chargers',
 'New Orleans Saints',
 'Minnesota Vikings',
 'Atlanta Falcons',
 'Los Angeles Rams',
 'Detroit Lions',
 'Oakland Raiders',
 'Tennessee Titans',
 'Philadelphia Eagles',
 'Cleveland Browns',
 'New England Patriots',
 'Carolina Panthers',
 'Jacksonville Jaguars',
 'Green Bay Packers',
 'Buffalo Bills',
 'Arizona Cardinals',
 'Indianapolis Colts',
 'New York Giants',
 'Cincinnati Bengals',
 'Denver Broncos',
 'Chicago Bears',
 'Miami Dolphins',
 'Pittsburgh Steelers',
 'New York Jets',
 'Washington Redskins']

['GP', 'YDS', 'YDS/G', 'YDS', 'YDS/G', 'YDS', 'YDS/G', 'PTS', 'PTS/G']

[['14', '6,076', '434.0', '4,200', '300.0', '1,876', '134.0', '378', '27.0'],
 ['14', '5,736', '409.7', '2,906', '207.6', '2,830', '202.1', '472', '33.7'],
 ['14', '5,602', '400.1', '4,323', '308.8', '1,279', '91.4', '416', '29.7'],
 ['14', '5,419', '387.1', '3,435', '245.4', '1,984', '141.7', '371', '26.5'],
 ['14', '5,381', '384.4', '4,080', '291.4', '1,301', '92.9', '394', '28.1'],
 ['14', '5,365', '383.2', '3,307', '236.2', '2,058', '147.0', '419', '29.9'],
 ['14', '5,262', '375.9', '3,430', '245.0', '1,832', '130.9', '341', '24.4'],
 ['14', '5,229', '373.5', '3,903', '278.8', '1,326', '94.7', '299', '21.4'],
 ['14', '5,226', '373.3', '3,705', '264.6', '1,521', '108.6', '378', '27.0'],
 ['14', '5,217', '372.6', '3,315', '236.8', '1,902', '135.9', '378', '27.0'],
 ['14', '5,184', '370.3', '4,045', '288.9', '1,139', '81.4', '329', '23.5'],
 ['14', '5,179', '369.9', '3,865', '276.1', '1,314', '93.9', '332', '23.7'],
 ['14', '5,053', '360.9', '3,671', '262.2', '1,382', '98.7', '304', '21.7'],
 ['14', '4,976', '355.4', '3,279', '234.2', '1,697', '121.2', '274', '19.6'],
 ['14', '4,941', '352.9', '3,112', '222.3', '1,829', '130.6', '339', '24.2'],
 ['14', '4,941', '352.9', '3,241', '231.5', '1,700', '121.4', '334', '23.9'],
 ['14', '4,901', '350.1', '3,131', '223.6', '1,770', '126.4', '297', '21.2'],
 ['14', '4,898', '349.9', '3,473', '248.1', '1,425', '101.8', '372', '26.6'],
 ['14', '4,854', '346.7', '3,163', '225.9', '1,691', '120.8', '324', '23.1'],
 ['14', '4,827', '344.8', '3,301', '235.8', '1,526', '109.0', '250', '17.9'],
 ['14', '4,713', '336.6', '3,222', '230.1', '1,491', '106.5', '330', '23.6'],
 ['14', '4,706', '336.1', '2,817', '201.2', '1,889', '134.9', '291', '20.8'],
 ['14', '4,662', '333.0', '2,996', '214.0', '1,666', '119.0', '310', '22.1'],
 ['14', '4,639', '331.4', '2,859', '204.2', '1,780', '127.1', '303', '21.6'],
 ['14', '4,467', '319.1', '3,110', '222.1', '1,357', '96.9', '283', '20.2'],
 ['14', '4,378', '312.7', '3,099', '221.4', '1,279', '91.4', '211', '15.1'],
 ['14', '4,191', '299.4', '2,749', '196.4', '1,442', '103.0', '239', '17.1'],
 ['14', '4,178', '298.4', '2,979', '212.8', '1,199', '85.6', '256', '18.3'],
 ['14', '4,069', '290.6', '3,072', '219.4', '997', '71.2', '241', '17.2'],
 ['14', '4,000', '285.7', '2,719', '194.2', '1,281', '91.5', '269', '19.2'],
 ['14', '3,838', '274.1', '2,752', '196.6', '1,086', '77.6', '247', '17.6'],
 ['14', '3,773', '269.5', '2,358', '168.4', '1,415', '101.1', '215', '15.4']]

In [7]:
# Create a DataFrame

total_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
total_offense_stats['Team'] = team_names
total_offense_stats.set_index('Team', inplace = True)

In [8]:
total_offense_stats

                      GP    YDS  YDS/G    YDS  YDS/G    YDS  YDS/G  PTS PTS/G
Team
Dallas Cowboys        14  6,076  434.0  4,200  300.0  1,876  134.0  378  27.0
Baltimore Ravens      14  5,736  409.7  2,906  207.6  2,830  202.1  472  33.7
Tampa Bay Buccaneers  14  5,602  400.1  4,323  308.8  1,279   91.4  416  29.7
Seattle Seahawks      14  5,419  387.1  3,435  245.4  1,984  141.7  371  26.5
Kansas City Chiefs    14  5,381  384.4  4,080  291.4  1,301   92.9  394  28.1
...                   ..    ...    ...    ...    ...    ...    ...  ...   ...
Chicago Bears         14  4,178  298.4  2,979  212.8  1,199   85.6  256  18.3
Miami Dolphins        14  4,069  290.6  3,072  219.4    997   71.2  241  17.2
Pittsburgh Steelers   14  4,000  285.7  2,719  194.2  1,281   91.5  269  19.2
New York Jets         14  3,838  274.1  2,752  196.6  1,086   77.6  247  17.6
Washington Redskins   14  3,773  269.5  2,358  168.4  1,415  101.1  215  15.4

[32 rows x 9 columns]

# Passing Offense Crawl

In [9]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/passing'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [10]:
name_table =soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = soup.find_all('table', class_="Table Table--align-right")
len(stat_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [11]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
#team_names

# Need to remove some columns
#stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[1:]
#team_stats

In [12]:
# Create a DataFrame

passing_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
passing_offense_stats['Team'] = team_names
passing_offense_stats.set_index('Team', inplace = True)

In [13]:
passing_offense_stats

,GP,CMP,ATT,CMP%,YDS,AVG,YDS/G,LNG,TD,INT,SACK,SYL,RTG
Team,,,,,,,,,,,,,
Tampa Bay Buccaneers,14,344,558,61.6,"4,323",8.2,308.8,71,30,24,43,268,87.7
Dallas Cowboys,14,340,520,65.4,"4,200",8.3,300.0,62,26,11,18,134,99.2
Kansas City Chiefs,14,339,518,65.4,"4,080",8.2,291.4,83,27,4,24,185,105.1
Atlanta Falcons,14,397,588,67.5,"4,045",7.4,288.9,93,27,13,43,307,95.3
Los Angeles Chargers,14,336,512,65.6,"3,903",8.0,278.8,84,22,18,30,185,89.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Buffalo Bills,14,265,447,59.3,"2,817",6.8,201.2,51,19,10,35,214,84.6
New York Jets,14,284,459,61.9,"2,752",6.7,196.6,92,17,15,48,309,80.2
Denver Broncos,14,269,442,60.9,"2,749",6.8,196.4,75,14,10,39,277,82.5
Pittsburgh Steelers,14,281,448,62.7,"2,719",6.5,194.2,79,17,17,26,187,78.2
Washington Redskins,14,251,404,62.1,"2,358",6.7,168.4,75,14,12,44,339,80.8

# Rushing Offense Crawl

In [14]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/rushing/table/rushing/sort/rushingYardsPerGame/dir/desc'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [15]:
name_table =soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = soup.find_all('table', class_="Table Table--align-right")
len(stat_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [16]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
#team_names

# Need to remove some columns
#stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[1:]
#team_stats

In [17]:
# Create a DataFrame

rushing_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
rushing_offense_stats['Team'] = team_names
rushing_offense_stats.set_index('Team', inplace = True)

In [18]:
rushing_offense_stats

                      GP  ATT    YDS  AVG  YDS/G LNG  TD FUM LST
Team
Baltimore Ravens      14  512  2,830  5.5  202.1  63  19   8   3
San Francisco 49ers   14  451  2,058  4.6  147.0  83  18   8   3
Seattle Seahawks      14  431  1,984  4.6  141.7  59  14  11   7
Minnesota Vikings     14  434  1,902  4.4  135.9  75  18   9   3
Buffalo Bills         14  422  1,889  4.5  134.9  41  13  12   4
...                   ..  ...    ...  ...    ...  ..  ..  ..  ..
Tampa Bay Buccaneers  14  367  1,279  3.5   91.4  26  14   3   1
Chicago Bears         14  339  1,199  3.5   85.6  55   7   4   3
Atlanta Falcons       14  305  1,139  3.7   81.4  28   8   4   2
New York Jets         14  324  1,086  3.4   77.6  24   6   2   0
Miami Dolphins        14  293    997  3.4   71.2  28   8   6   2

[32 rows x 9 columns]

# Receiving Offense Stats

In [19]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/receiving'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [20]:
name_table =soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = soup.find_all('table', class_="Table Table--align-right")
len(stat_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [21]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
#team_names

# Need to remove some columns
#stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[1:]
#team_stats

In [22]:
# Create a DataFrame

receiving_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
receiving_offense_stats['Team'] = team_names
receiving_offense_stats.set_index('Team', inplace = True)

In [23]:
receiving_offense_stats

                      GP  REC    YDS   AVG  YDS/G LNG  TD FUM LST
Team
Tampa Bay Buccaneers  14  344  4,591  13.3  327.9  71  30   3   3
Atlanta Falcons       14  397  4,352  11.0  310.9  93  27   3   1
Dallas Cowboys        14  340  4,334  12.7  309.6  62  26   4   2
Kansas City Chiefs    14  339  4,265  12.6  304.6  83  27   5   3
Los Angeles Chargers  14  336  4,088  12.2  292.0  84  22   4   3
...                   ..  ...    ...   ...    ...  ..  ..  ..  ..
Buffalo Bills         14  265  3,031  11.4  216.5  51  19   0   0
Denver Broncos        14  269  3,026  11.2  216.1  75  14   3   2
Baltimore Ravens      14  258  3,016  11.7  215.4  83  34   2   1
Pittsburgh Steelers   14  281  2,906  10.3  207.6  79  17   7   4
Washington Redskins   14  251  2,697  10.7  192.6  75  14   3   1

[32 rows x 9 columns]

In [24]:
total_offense_stats.to_csv('./week15/total_offense')
passing_offense_stats.to_csv('./week15/passing_offense')
rushing_offense_stats.to_csv('./week15/rushing_offense')
receiving_offense_stats.to_csv('./week15/receiving_offense')

In [25]:
print('fertig!')

fertig!