In [13]:
import cufflinks as cf
import plotly.offline
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)

import seaborn as sns
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

# Total Offense Crawl

In [14]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/total/table/passing/sort/netTotalYards/dir/desc'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [15]:
# stat_table =soup.find_all('table', class_ = "Table2__table-scroller Table2__right-aligned Table2__table")
stat_table =soup.find_all('table', class_ = "Table Table--align-right")
len(stat_table)

#name_table = soup.find_all('table', class_="Table2__right-aligned Table2__table-fixed Table2__Table--fixed--left Table2__table")
name_table = soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [16]:
#name_table

In [17]:
#soup

In [18]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
team_names

# Need to remove some columns
stat_headers = stat_headers[5:]
stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[2:]
team_stats

['Baltimore Ravens',
 'Kansas City Chiefs',
 'Dallas Cowboys',
 'San Francisco 49ers',
 'New England Patriots',
 'Los Angeles Chargers',
 'New York Giants',
 'Buffalo Bills',
 'Seattle Seahawks',
 'Atlanta Falcons',
 'Carolina Panthers',
 'Detroit Lions',
 'Philadelphia Eagles',
 'Tampa Bay Buccaneers',
 'Minnesota Vikings',
 'Los Angeles Rams',
 'Houston Texans',
 'Cincinnati Bengals',
 'Indianapolis Colts',
 'Denver Broncos',
 'New Orleans Saints',
 'Washington Redskins',
 'Jacksonville Jaguars',
 'Cleveland Browns',
 'Arizona Cardinals',
 'Oakland Raiders',
 'Tennessee Titans',
 'Green Bay Packers',
 'Chicago Bears',
 'Pittsburgh Steelers',
 'Miami Dolphins',
 'New York Jets']

['GP', 'YDS', 'YDS/G', 'YDS', 'YDS/G', 'YDS', 'YDS/G', 'PTS', 'PTS/G']

[['3', '1,535', '511.7', '885', '295.0', '650', '216.7', '110', '36.7'],
 ['3', '1,461', '487.0', '1,177', '392.3', '284', '94.7', '101', '33.7'],
 ['3', '1,444', '481.3', '907', '302.3', '537', '179.0', '97', '32.3'],
 ['3', '1,263', '421.0', '738', '246.0', '525', '175.0', '96', '32.0'],
 ['3', '1,225', '408.3', '934', '311.3', '291', '97.0', '106', '35.3'],
 ['3', '1,225', '408.3', '890', '296.7', '335', '111.7', '60', '20.0'],
 ['3', '1,224', '408.0', '872', '290.7', '352', '117.3', '63', '21.0'],
 ['3', '1,174', '391.3', '720', '240.0', '454', '151.3', '66', '22.0'],
 ['3', '1,172', '390.7', '840', '280.0', '332', '110.7', '76', '25.3'],
 ['3', '1,109', '369.7', '886', '295.3', '223', '74.3', '60', '20.0'],
 ['3', '1,108', '369.3', '769', '256.3', '339', '113.0', '79', '26.3'],
 ['3', '1,103', '367.7', '807', '269.0', '296', '98.7', '67', '22.3'],
 ['3', '1,095', '365.0', '796', '265.3', '299', '99.7', '76', '25.3'],
 ['3', '1,083', '361.0', '718', '239.3', '365', '121.7', '68', '22.7'],
 ['3', '1,075', '358.3', '494', '164.7', '581', '193.7', '78', '26.0'],
 ['3', '1,074', '358.0', '703', '234.3', '371', '123.7', '77', '25.7'],
 ['3', '1,053', '351.0', '708', '236.0', '345', '115.0', '68', '22.7'],
 ['3', '1,051', '350.3', '925', '308.3', '126', '42.0', '54', '18.0'],
 ['3', '1,043', '347.7', '594', '198.0', '449', '149.7', '70', '23.3'],
 ['3', '1,026', '342.0', '692', '230.7', '334', '111.3', '46', '15.3'],
 ['3', '1,019', '339.7', '726', '242.0', '293', '97.7', '72', '24.0'],
 ['3', '1,009', '336.3', '865', '288.3', '144', '48.0', '63', '21.0'],
 ['3', '1,001', '333.7', '729', '243.0', '272', '90.7', '58', '19.3'],
 ['3', '991', '330.3', '724', '241.3', '267', '89.0', '49', '16.3'],
 ['3', '984', '328.0', '731', '243.7', '253', '84.3', '64', '21.3'],
 ['3', '966', '322.0', '651', '217.0', '315', '105.0', '48', '16.0'],
 ['3', '922', '307.3', '584', '194.7', '338', '112.7', '67', '22.3'],
 ['3', '860', '286.7', '592', '197.3', '268', '89.3', '58', '19.3'],
 ['3', '825', '275.0', '536', '178.7', '289', '96.3', '50', '16.7'],
 ['3', '808', '269.3', '616', '205.3', '192', '64.0', '49', '16.3'],
 ['3', '667', '222.3', '532', '177.3', '135', '45.0', '16', '5.3'],
 ['3', '590', '196.7', '393', '131.0', '197', '65.7', '33', '11.0']]

In [19]:
# Create a DataFrame

total_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
total_offense_stats['Team'] = team_names
total_offense_stats.set_index('Team', inplace = True)

In [20]:
total_offense_stats

                     GP    YDS  YDS/G    YDS  YDS/G  YDS  YDS/G  PTS PTS/G
Team
Baltimore Ravens      3  1,535  511.7    885  295.0  650  216.7  110  36.7
Kansas City Chiefs    3  1,461  487.0  1,177  392.3  284   94.7  101  33.7
Dallas Cowboys        3  1,444  481.3    907  302.3  537  179.0   97  32.3
San Francisco 49ers   3  1,263  421.0    738  246.0  525  175.0   96  32.0
New England Patriots  3  1,225  408.3    934  311.3  291   97.0  106  35.3
...                  ..    ...    ...    ...    ...  ...    ...  ...   ...
Green Bay Packers     3    860  286.7    592  197.3  268   89.3   58  19.3
Chicago Bears         3    825  275.0    536  178.7  289   96.3   50  16.7
Pittsburgh Steelers   3    808  269.3    616  205.3  192   64.0   49  16.3
Miami Dolphins        3    667  222.3    532  177.3  135   45.0   16   5.3
New York Jets         3    590  196.7    393  131.0  197   65.7   33  11.0

[32 rows x 9 columns]

# Passing Offense Crawl

In [23]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/passing'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [26]:
name_table =soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = soup.find_all('table', class_="Table Table--align-right")
len(stat_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [27]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
#team_names

# Need to remove some columns
#stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[1:]
#team_stats

In [28]:
# Create a DataFrame

passing_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
passing_offense_stats['Team'] = team_names
passing_offense_stats.set_index('Team', inplace = True)

In [29]:
passing_offense_stats

,GP,CMP,ATT,CMP%,YDS,AVG,YDS/G,LNG,TD,INT,SACK,SYL,RTG
Team,,,,,,,,,,,,,
Kansas City Chiefs,3,82,115,71.3,"1,177",10.4,392.3,83,10,0,3,18,133.8
New England Patriots,3,75,110,68.2,934,8.7,311.3,58,7,1,4,23,112.6
Cincinnati Bengals,3,81,129,62.8,925,7.6,308.3,66,5,3,11,53,89.2
Dallas Cowboys,3,70,94,74.5,907,9.8,302.3,62,9,2,2,13,128.0
Los Angeles Chargers,3,77,116,66.4,890,8.1,296.7,55,5,2,10,54,98.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tennessee Titans,3,56,92,60.9,584,7.7,194.7,75,4,0,17,122,99.3
Chicago Bears,3,67,103,65.0,536,5.6,178.7,36,3,2,8,43,81.3
Miami Dolphins,3,53,112,47.3,532,5.4,177.3,49,1,6,13,73,44.7
Minnesota Vikings,3,37,63,58.7,494,8.0,164.7,61,3,2,2,8,86.9
New York Jets,3,63,94,67.0,393,5.0,131.0,36,1,1,13,81,78.1

# Rushing Offense Crawl

In [30]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/rushing'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [31]:
name_table =soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = soup.find_all('table', class_="Table Table--align-right")
len(stat_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [32]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
#team_names

# Need to remove some columns
#stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[1:]
#team_stats

In [33]:
# Create a DataFrame

rushing_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
rushing_offense_stats['Team'] = team_names
rushing_offense_stats.set_index('Team', inplace = True)

In [34]:
rushing_offense_stats

                    GP  ATT  YDS  AVG  YDS/G LNG TD FUM LST
Team
Baltimore Ravens     3  111  650  5.9  216.7  60  6   0   0
Minnesota Vikings    3  103  581  5.6  193.7  75  7   2   0
Dallas Cowboys       3   98  537  5.5  179.0  42  4   0   0
San Francisco 49ers  3  114  525  4.6  175.0  34  4   3   2
Buffalo Bills        3   95  454  4.8  151.3  23  5   3   2
...                 ..  ...  ...  ...    ...  .. ..  ..  ..
New York Jets        3   65  197  3.0   65.7  15  0   1   0
Pittsburgh Steelers  3   51  192  3.8   64.0  23  1   1   1
Washington Redskins  3   51  144  2.8   48.0  11  1   1   1
Miami Dolphins       3   51  135  2.6   45.0   9  0   1   1
Cincinnati Bengals   3   52  126  2.4   42.0  14  1   1   0

[32 rows x 9 columns]

# Receiving Offense Stats

In [35]:
url ='https://www.espn.com/nfl/stats/team/_/view/offense/stat/receiving'

headers= {'User-Agent': 'Mozilla/5.0'}

response = requests.get(url)
print(response.status_code)

soup = BeautifulSoup(response.content, 'html.parser')

200

In [36]:
name_table =soup.find_all('table', class_="Table Table--align-right Table--fixed Table--fixed-left")
len(name_table)

stat_table = soup.find_all('table', class_="Table Table--align-right")
len(stat_table)

stat_table = stat_table[0]
name_table = name_table[0]

1

1

In [37]:
team_names = []
stat_headers = []
team_stats = []
temp = []

for row in name_table.find_all('tr'):
    for cell in row.find_all('td'):
        #print(cell.text)
        team_names.append(cell.text)

for row in stat_table.find_all('tr'):
    #print(cell.text)
    for cell in row.find_all('th'):
            #print(cell.text)
            stat_headers.append(cell.text)        

for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        temp.append(cell.text)
    team_stats.append(temp)
    temp = []
            
# print team names
#team_names

# Need to remove some columns
#stat_headers

# Team stats - First two empty lists items need to be removed
team_stats = team_stats[1:]
#team_stats

In [38]:
# Create a DataFrame

receiving_offense_stats = pd.DataFrame(team_stats, columns=stat_headers)
receiving_offense_stats['Team'] = team_names
receiving_offense_stats.set_index('Team', inplace = True)

In [39]:
receiving_offense_stats

                     GP REC    YDS   AVG  YDS/G LNG  TD FUM LST
Team
Kansas City Chiefs    3  82  1,195  14.6  398.3  83  10   1   0
Cincinnati Bengals    3  81    978  12.1  326.0  66   5   3   2
New England Patriots  3  75    957  12.8  319.0  58   7   0   0
Los Angeles Chargers  3  77    944  12.3  314.7  55   5   0   0
Washington Redskins   3  86    933  10.8  311.0  69   7   0   0
...                  ..  ..    ...   ...    ...  ..  ..  ..  ..
Pittsburgh Steelers   3  61    637  10.4  212.3  76   4   0   0
Miami Dolphins        3  53    605  11.4  201.7  49   1   0   0
Chicago Bears         3  67    579   8.6  193.0  36   3   0   0
Minnesota Vikings     3  37    502  13.6  167.3  61   3   1   1
New York Jets         3  63    474   7.5  158.0  36   1   2   2

[32 rows x 9 columns]

In [40]:
total_offense_stats.to_csv('./week4/total_offense')
passing_offense_stats.to_csv('./week4/passing_offense')
rushing_offense_stats.to_csv('./week4/rushing_offense')
receiving_offense_stats.to_csv('./week4/receiving_offense')