# Covid-19

In [45]:
import pandas as pd
import plotly.express as px
from datetime import datetime as dt
import pycountry
from tqdm import tqdm

tqdm.pandas()

/usr/local/anaconda3/envs/ds/lib/python3.8/site-packages/tqdm/std.py:658: FutureWarning:

The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version

In [2]:
df = pd.read_csv('./data/covid19.csv')

In [3]:
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20097 entries, 0 to 20096
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  6160 non-null   object
 1   Country/Region  20097 non-null  object
 2   Lat             20097 non-null  float64
 3   Long            20097 non-null  float64
 4   Date            20097 non-null  object
 5   Confirmed       20097 non-null  int64
 6   Deaths          20097 non-null  int64
 7   Recovered       20097 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.2+ MB

In [5]:
df.Date[0]

'1/22/20'

In [6]:
dt.strptime(df.Date[0], '%m/%d/%y')

datetime.datetime(2020, 1, 22, 0, 0)

In [7]:
df.set_index('Date', inplace=True)
df.index = pd.to_datetime(df.index, format='%m/%d/%y')

In [8]:
df

,Province/State,Country/Region,Lat,Long,Confirmed,Deaths,Recovered
Date,,,,,,,
2020-01-22,NaN,Afghanistan,33.00000,65.000000,0,0,0
2020-01-22,NaN,Albania,41.15330,20.168300,0,0,0
2020-01-22,NaN,Algeria,28.03390,1.659600,0,0,0
2020-01-22,NaN,Andorra,42.50630,1.521800,0,0,0
2020-01-22,NaN,Angola,-11.20270,17.873900,0,0,0
...,...,...,...,...,...,...,...
2020-04-07,Falkland Islands (Malvinas),United Kingdom,-51.79630,-59.523600,2,0,0
2020-04-07,Saint Pierre and Miquelon,France,46.88520,-56.315900,1,0,0
2020-04-07,NaN,South Sudan,6.87700,31.307000,2,0,0
2020-04-07,NaN,Western Sahara,24.21550,-12.885800,4,0,0
2020-04-07,NaN,Sao Tome and Principe,0.18636,6.613081,4,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20097 entries, 2020-01-22 to 2020-04-07
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  6160 non-null   object
 1   Country/Region  20097 non-null  object
 2   Lat             20097 non-null  float64
 3   Long            20097 non-null  float64
 4   Confirmed       20097 non-null  int64
 5   Deaths          20097 non-null  int64
 6   Recovered       20097 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.2+ MB

In [51]:
alpha3 = pycountry.countries.search_fuzzy(df['Country/Region'][0])

In [52]:
alpha3

[Country(alpha_2='AF', alpha_3='AFG', name='Afghanistan', numeric='004', official_name='Islamic Republic of Afghanistan')]

In [53]:
alpha3[0].alpha_3

'AFG'

In [54]:
def get_alpha3(country):
    alpha3 = pycountry.countries.search_fuzzy(country)
    return alpha3[0].alpha_3

In [55]:
df['alpha3'] = df['Country/Region'].progress_apply(lambda x: get_alpha3(x))

  0%|          | 82/20097 [00:03<13:19, 25.03it/s]

LookupError: congo (brazzaville)

  0%|          | 84/20097 [00:20<13:19, 25.03it/s]

In [47]:
df.to_csv('covid19-alpha3.csv')

In [48]:
df.head()

,Province/State,Country/Region,Lat,Long,Confirmed,Deaths,Recovered,alpha3
Date,,,,,,,,
2020-01-22,NaN,Afghanistan,33.0000,65.0000,0,0,0,BGD
2020-01-22,NaN,Albania,41.1533,20.1683,0,0,0,BGD
2020-01-22,NaN,Algeria,28.0339,1.6596,0,0,0,BGD
2020-01-22,NaN,Andorra,42.5063,1.5218,0,0,0,BGD
2020-01-22,NaN,Angola,-11.2027,17.8739,0,0,0,BGD